NEXT_PUBLIC_APP_URL='your-app-url'
DATABASE_URL='your-database-url'
FIREBASE_API_KEY='your-fb-api-key'
FIREBASE_AUTH_DOMAIN='your-fb-auth-domain'FIREBASE_PROJECT_ID='your-fb-project-id'
FIREBASE_STORAGE_BUCKET='your-fb-storage-bucket'
FIREBASE_MESSAGING_SEND'your-SENDER_ID='your-fb-messaging-send'
FIREBASE_MESSAGING_SENDER_ID='your-fb-messaging-sender-id'FIREBASE_MEASUREMENT_ID='your-fb-measurement-id'